@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 0;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 2s linear infinite;
}

.text-limited {
  overflow: hidden;
  height: 50px;
  position: relative;
}

.text-limited::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5px;
  left: 0;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

